# .github/workflows/release.yml
name: sopsv-release

on:
  pull_request:
  push:
    # run only against tags
    tags:
      - "go/sopsv/v*"
    branches-ignore:
      - "*"

permissions:
  contents: write
  # packages: write
  # issues: write
  # id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
          
      - name: Get Tag Version
        shell: bash
        run: |
          # go/sopsv/v0.0.0 
          # in bash trim the prefix to get the version only
          VERSION=${GITHUB_REF#refs/tags/go/sopsv/v}
          echo "$VERSION"
          echo "GORELEASER_CURRENT_TAG=$VERSION" >> $GITHUB_ENV
      # More assembly might be required: Docker logins, GPG, etc.
      # It all depends on your needs.
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean --skip chocolatey
          workdir: go/sopsv
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        